.mt-2,a{
    color:black;
}

.field input{
    background: rgba(255,255,255,0.0);
    color:black;
}

.field{
    position: relative;
}

::placeholder{
    color:black;
    font-size: 13px;
}

.forma{
    min-width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-height: 80vh;
    z-index: 20;
    padding: 20px;
}

#butt{
    width: 100%;
    padding-top: 20px;
}

.naslov{
    text-align: center;
    color:#263238;
}

.custom-link {
    text-decoration: none;
    cursor: pointer;
}

.full-width-input{
    width: 100%;
}

.eyeiconC{
    position: absolute;
    top: 68%;
    transform: translateY(-50%);
    right: 5%;
    cursor: pointer;
}

.eyeiconC1{
    position: absolute;
    top: 53%;
    transform: translateY(-50%);
    right: 5%;
    cursor: pointer;
}

.eyeiconP{
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    right: 5%;
    cursor: pointer;
}

.eyeiconP1{
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    right: 5%;
    cursor: pointer;
}