<div class="forma">
      <svg
      xmlns="http://www.w3.org/2000/svg"
      version="1.0"
      width="100.000000pt"
      height="100.000000pt"
      viewBox="0 0 500.000000 500.000000"
      preserveAspectRatio="xMidYMid meet"
    >
      <g
        transform="translate(0.000000,500.000000) scale(0.100000,-0.100000)"
        fill="#000000"
        stroke="none"
      >
        <path
          d="M1410 4311 l-1075 -599 -3 -1209 -2 -1209 1085 -603 1085 -603 1085 603 1085 603 -2 1209 -3 1209 -1075 599 c-591 329 -1082 598 -1090 598 -8 0 -499 -269 -1090 -598z m2030 -259 l935 -527 3 -1057 2 -1056 -940 -523 -940 -522 -940 522 -940 523 2 1056 3 1057 935 527 c514 290 937 527 940 527 3 0 426 -237 940 -527z"
        />
        <path
          d="M1301 1184 c-12 -20 -21 -38 -19 -39 32 -25 1196 -709 1211 -712 15 -3 208 106 622 353 330 196 601 358 603 359 8 6 -42 76 -52 72 -6 -3 -265 -156 -576 -341 -344 -205 -575 -336 -590 -336 -15 0 -246 131 -590 336 -311 185 -570 338 -576 341 -6 2 -21 -12 -33 -33z"
        />
      </g>
    </svg>
    <form [formGroup]="resetPassForm" (ngSubmit)="resetPassword()"  style="margin-top: 3em; z-index:30;">
        <p-card header="Reset Password" [style]="{width: '380px','background':'rgba(255,255,255,0.2)','color':'#263238'}">
            
            
      <div class="field" [class.error]="resetPassForm.controls['password'].dirty && resetPassForm.hasError('required','password')">
        <label for="password">New Password</label>
        <input
          [(ngModel)]="password"
          [type]="changetypeP?'password':'text'"
          pInputText
          formControlName="password"
          class="w-full"
          name="password"
          placeholder="Type new password"
        />
        <span *ngIf="!resetPassForm.controls['password'].dirty || !resetPassForm.hasError('required','password')" class="eyeiconP" (click)="viewPasswordP()"><i [ngClass]="visibleP?'fas fa-eye':'fas fa-eye-slash'"></i></span>
        <span *ngIf="resetPassForm.controls['password'].dirty && resetPassForm.hasError('required','password')" class="eyeiconP1" (click)="viewPasswordP()"><i [ngClass]="visibleP?'fas fa-eye':'fas fa-eye-slash'"></i></span>
        
        <small *ngIf="resetPassForm.controls['password'].dirty && resetPassForm.hasError('required','password')"
          class="text-danger">*New Password is required</small>
      </div>      
        
        <div class="field" [class.error]="resetPassForm.controls['confirmPassword'].dirty && resetPassForm.hasError('required','confirmPassword')">
            <label for="confirmPassword">Confirm Password</label>
            <input
              [(ngModel)]="confirmPassword"
              [type]="changetypeC?'password':'text'"
              pInputText
              formControlName="confirmPassword"
              class="w-full"
              name="confirmPassword"
              placeholder="Type confirm password"
            />
            <span *ngIf="!resetPassForm.hasError('confirmPasswordValidator','confirmPassword')" class="eyeiconC" (click)="viewPasswordC()"><i [ngClass]="visibleC?'fas fa-eye':'fas fa-eye-slash'"></i></span>
            <span *ngIf="resetPassForm.hasError('confirmPasswordValidator','confirmPassword')" class="eyeiconC1" (click)="viewPasswordC()"><i [ngClass]="visibleC?'fas fa-eye':'fas fa-eye-slash'"></i></span>

            <small *ngIf="resetPassForm.controls['confirmPassword'].dirty && resetPassForm.hasError('required','confirmPassword')"
            class="text-danger">*Confirm Password is required</small>
            <small *ngIf="resetPassForm.hasError('confirmPasswordValidator','confirmPassword')"
            class="text-danger">*Password doesn't match</small>
        </div>    

            <p-button id="butt" label="Reset Password" styleClass="w-full" [disabled]="resetPassForm.invalid" type="submit">
            </p-button>
        </p-card>
    </form>
</div>
<div style="
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
">
    <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 1920 284" fill="none" style="z-index: 30">
        <path d="M0 27.9998L20 49.2998C40 70.9998 80 113 120 102.7C160 91.9998 200 27.9998 240 43.9998C280 59.9998 320 156 360 172C400 188 440 124 480 124C520 124 560 188 600 204C640 220 680 188 720 166.7C760 145 800 135 840 156C880 177 920 231 960 246.7C1000 263 1040 241 1080 225.3C1120 209 1160 199 1200 156C1240 113 1280 38.9998 1320 11.9998C1360 -15.0002 1400 6.99982 1440 49.2998C1480 91.9998 1520 156 1560 188C1600 220 1640 220 1680 182.7C1720 145 1760 70.9998 1800 54.6998C1840 38.9998 1880 80.9998 1900 102.7L1920 124V284H1900C1880 284 1840 284 1800 284C1760 284 1720 284 1680 284C1640 284 1600 284 1560 284C1520 284 1480 284 1440 284C1400 284 1360 284 1320 284C1280 284 1240 284 1200 284C1160 284 1120 284 1080 284C1040 284 1000 284 960 284C920 284 880 284 840 284C800 284 760 284 720 284C680 284 640 284 600 284C560 284 520 284 480 284C440 284 400 284 360 284C320 284 280 284 240 284C200 284 160 284 120 284C80 284 40 284 20 284H0V27.9998Z" fill="black"></path>
    </svg>
</div>